<div id="ourServiceRef">
  <container>
    <div class="section_header">
      <h1>Our Services</h1>
    </div>
    <div class="services_container">
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/life_insurance.webp"
              alt="life_insurance image"
            />
          </div>
          <div class="service_title">
            <h3>Life Insurance</h3>
          </div>
          <div class="service_text">
            <p>
              Protecting your loved ones is important, and that’s why we offer a
              range of life insurance options to meet your needs. Our policies
              provide financial security for your family in the event of an
              unexpected death, ensuring they’re taken care of when you’re no
              longer able to. Our team of experts helping you find the right
              coverage for your needs and budget.
            </p>
          </div>
          <div>
            <a
              class="link_btn"
              href="../../../assets/pdfs/life-insurance.pdf"
              target="_blank"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/accident.webp"
              alt="Accident insurance image"
            />
          </div>
          <div class="service_title">
            <h3>Accident Insurance</h3>
          </div>
          <div class="service_text">
            <p>
              Accident insurance can provide financial protection in the event
              of an accident that results in serious injury or death. It can
              cover medical bills, lost wages, and other expenses related to the
              accident. It can also provide a death benefit to surviving family
              members. Accident insurance is a type of personal insurance and
              can be purchased.
            </p>
          </div>
          <div>
            <a
              class="link_btn"
              href="../../../assets/pdfs/accident.pdf"
              target="_blank"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/retirment_plans.webp"
              alt="Retirement plans image"
            />
          </div>
          <div class="service_title">
            <h3>Retirement plans</h3>
          </div>
          <div class="service_text">
            <p>
              Retirement plans are an important part of financial security. They
              provide a way to save for the future and to ensure that retirement
              is comfortable and secure. There are several different types of
              retirement plans available, including 401(k) plans, individual
              retirement accounts (IRAs), employer-sponsored pension plans, and
              annuities.
            </p>
          </div>
          <div>
            <a
              class="link_btn"
              href="../../../assets/pdfs/Retirement.pdf"
              target="_blank"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/disability_insurance.webp"
              alt="disability_insurance image"
            />
          </div>
          <div class="service_title">
            <h3>Disability Insurance</h3>
          </div>
          <div class="service_text">
            <p>
              Disability insurance is an important type of insurance that helps
              to protect your income in the event of an illness or injury that
              prevents you from working. This type of insurance provides
              financial protection in the form of a monthly benefit payment that
              can help cover your basic living expenses while you are unable to
              work.
            </p>
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/dential_and_vision_insurance.webp"
              alt="disability_insurance image"
            />
          </div>
          <div class="service_title">
            <h3>Dential & Vision Insurance</h3>
          </div>
          <div class="service_text">
            <p>
              Dental and vision insurance can help you save money on routine
              dental and vision care, such as cleanings, check-ups, and eye
              exams. Having this type of coverage can also help you save on more
              costly procedures, such as fillings and braces. In addition, many
              plans cover preventive care.
            </p>
          </div>
          <div>
            <a
              class="link_btn"
              href="https://www.humana.com/agent/health-insurance-Agents/AOALanding?SANID=1465328&MarketpointAgent=false"
              target="_blank"
              >HUMANA</a
            >
            <a
              class="link_btn"
              href="https://brokers.careington.com/Index.aspx?A=455354494D5A"
              target="_blank"
              >CAREINGTON</a
            >
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/funeral_plans.webp"
              alt="funeral plans image"
            />
          </div>
          <div class="service_title">
            <h3>Funeral Plans</h3>
          </div>
          <div class="service_text">
            <p>
              Funeral plans are a form of financial protection that can provide
              peace of mind to individuals and families in the event of a loved
              one’s death. These plans are designed to help cover the costs of a
              funeral, including burial or cremation services, a casket, and
              other related expenses. Funeral plans can be purchased through
              insurance companies.
            </p>
          </div>
          <div>
            <a
              class="link_btn"
              href="../../../assets/pdfs/CFG-Funnel.pdf"
              target="_blank"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/mortgage.webp"
              alt="Mortgage protection image"
            />
          </div>
          <div class="service_title">
            <h3>Mortgage Protection</h3>
          </div>
          <div class="service_text">
            <p>
              Mortgage protection insurance is a type of life insurance that
              pays off your mortgage if you die or become disabled. It provides
              financial security for your loved ones by protecting them from the
              burden of paying off your mortgage if something happens to you.
              This type of insurance can be an invaluable asset for anyone who
              is looking to secure.
            </p>
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/health-insurance.webp"
              alt="health insurance image"
            />
          </div>
          <div class="service_title">
            <h3>Health Insurance</h3>
          </div>
          <div class="service_text">
            <p>
              Health insurance is an insurance policy that provides financial
              protection against medical costs incurred by an individual. The
              policy pays for medical expenses incurred by the insured person,
              including hospital stays, doctor visits, lab tests, prescription
              medications, and other treatments. Health insurance covers both
              inpatient.
            </p>
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/policy.webp"
              alt="Policy Review image"
            />
          </div>
          <div class="service_title">
            <h3>Policy Review</h3>
          </div>
          <div class="service_text">
            <p>
              We review our policies and procedures regularly to ensure they are
              up to date and remain compliant with state and local regulations.
              We also strive to maintain the highest standards of fairness and
              integrity in all our dealings with our customers. Our commitment
              to excellence is reflected in our commitment to customer service.
            </p>
          </div>
        </div>
      </div>
      <div class="service_card_container">
        <div class="service_card">
          <div class="service_image_container">
            <img
              src="../../../assets/images/Supplementary.webp"
              alt="Supplementary image"
            />
          </div>
          <div class="service_title">
            <h3>SUPPLEMENTARY HEALTH INSURANCE</h3>
          </div>
          <div class="service_text">
            <p>
              We offer supplementary health insurance plans designed to provide
              additional coverage for medical expenses. Our plans provide
              coverage for hospital stays, doctor visits, lab tests,
              prescription drugs, emergency care, and more. We offer flexible
              coverage options, competitive rates, and a variety of payment
              options to make it easier to find the right plan for your needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </container>
</div>
